.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.center-icon i {
    font-size: 7em;
    color: #1e90ff;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* #conversation {
    margin-top: 20px;
    width: 70%;
    height: 40%;
    overflow-y: scroll;
} */